h1 {
    text-align: center;
}
#status-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

form {
    margin-top: 50px;
}

.form-btn {
    width: 180px;
}