@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/* Global settings  */

label {
	width: auto !important
}

body {
	font-family: nunito;
	background-color: rgb(238, 241, 245);
	display: flex;
	min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.center-align {
	display: flex;
	justify-content: center;

}

.row .col.s10 {
	margin-left: 0;
}

.flash {
	text-align: center;
	color: #462355;
}

h3 {
	margin-bottom: 40px;
	text-align: center;
	font-family: "caveat";
}

.nodisplay {
	display: none;
}

.logo {
	width: 150px;
	margin-left: 50px;
}

.warning {
	padding-top: 20px;
	padding-bottom: 20px;
	font-style: italic;
	font-size: small;
}

span {
	color: red;
}

.btn {
	min-width: 80px;
	border-radius: 5px;
}

/* index page  */

h4 {
	margin-left: 40px;
	margin-top: 20px;
	margin-bottom: 40px;
	font-family: "caveat";
	color: #462355;
}

.no-margin {
	margin-left: 0;
}

p {
	display: flex;
	justify-content: space-between;
}

.img-spacing {
	width: 205px;
	height: 330px;
	margin-bottom: 20px;
}

.upcoming-spacing {
	width: 205px;
	min-height: 380px;
}

.row-margin {
	margin-left: 50px;
	margin-right: 50px;
}

.upcoming-header {
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
	margin-left: 50px;
	gap: 25px;
}

.admin-edit {
	margin-top: 15px;
}

strong {
	font-weight: bold;
}

.modal-header {
	display: flex;
	justify-content: space-between;
}

/* add drama  */

.button-container {
	display: flex;
	justify-content: center;
	gap: 25px;
}

/* star rating  */

.rating-wrap {
	max-width: 600px;
	margin: auto;
	padding: 15px;
	text-align: center;
}

.star-cont {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 25px;
}

#rating-value {
	width: 120px;
	margin: 20px auto 0;
	text-align: center;
	font-size: 20px;
}

/*styling star rating*/
.rating {
	border: none;
}

.rating>input {
	display: none;
}

.rating>label:before {
	content: '\f005';
	font-family: FontAwesome;
	margin: 5px;
	font-size: 1.5rem;
	display: inline-block;
	cursor: pointer;
}

.rating>label {
	color: #ddd;
	float: right;
	cursor: pointer;
}

.rating>input:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
	color: #7d2681;
}

.rating>input:checked+label:hover,
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
.rating>input:checked~label:hover~label {
	color: #932f7d;
}

h2 {
	text-align: center;
}

.resetButton {
	font-size: 30px;
	color: #462355;
}

/* My list  */

.search {
	margin-top: 50px;
}

.dropdown-trigger {
	display: flex;
	justify-content: center;
	margin: 30px 30px 30px 30px;
}

.drama-header {
	margin-bottom: 0;
}

.header-margin {
	margin-top: 50px;
	margin-bottom: 0;
}

.menu-container {
	display: flex;
	justify-content: center;
}

#status-menu-container {
	margin-bottom: 50px;
	background-color: #7b1fa2;
	min-height: 70px;
	display: flex;
	align-items: center;
	width: 90%;
	line-height: 0%;
	cursor: pointer;
}

#status-menu-container a {
	color: rgb(171, 206, 244);

}

#status-menu-container a:hover {
	color: aliceblue;
}

#status-menu {
	display: flex;
	justify-content: center;
	gap: 50px;
	width: 100%;
	font-size: 20px;
}

.modal-container {
	display: flex;
	width: 100%;
}

.drama-info {
	width: 100%;
	margin-left: 20px;
}

.show-table {
	width: 90%;
	margin: auto;
}


.thumb-container {
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 8px;
}

.thumbnail {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.thumb-box {
	width: 90px;
}

/* sign in  */

.form-margin {
	margin-top: 70px;
}

.form-btn {
	width: 180px;
}

.sign-in-footer {
	display: flex;
	gap: 25px;
	justify-content: center;
}

/* Profile  */

.profile {
	margin-right: 20px;
	margin-left: 20px;
}

.profile-header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.images {
	max-width: 200px;
	max-height: 285px;
}

.carousel-item {
	margin-top: -70px;
}

.delete-section {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.button-margin {
	margin-bottom: 10px;
}

/* footer  */

.footer-icon {
	font-size: 20px;
}

.footer-icon:hover {
	color: rgb(227, 229, 78);
}

/* media queries  */
@media only screen and (max-width: 418px) {
	h4 {
		margin-bottom: 10px;
	}
	.upcoming-header {
		margin-bottom: 10px;
	}

	.admin-edit {
		margin-left: 0;
		margin-top: 0;
	}

	.button-span {
		margin-top: -20px;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 455px) {
	.profile-header {
		gap: 0;
		padding-right: 20px;
	}

	.row-margin {
		margin-bottom: 10px;
	}

	.img-spacing {
		margin-bottom: 10px;
	}

	h5 {
		margin-left: 0;
	}

}

@media only screen and (max-width: 500px) {
	.table-col {
		display: none;
	}

	.drama-info {
		margin-left: 0;
	}


}

@media only screen and (max-width: 560px) {
	.rating {
		display: flex;
		flex-wrap: wrap-reverse;
		flex-direction: row-reverse;
	}
}

@media only screen and (max-width: 600px) {
	.search {
		margin: 0;
	}
}

@media only screen and (min-width: 700px) {
	.dropdown-trigger {
		display: none;
	}

}

@media only screen and (max-width: 700px) {
	.menu-container {
		display: none;
	}
}

@media only screen and (max-width: 800px) {
	#status-menu {
		font-size: 15px;
	}

	.menu-container {
		margin-top: 20px;
	}
	
	.scroll-div {
		display: flex;
		flex-direction: row;
		overflow: auto;
		min-height: 205px;
		scrollbar-color: rgb(142, 28, 142) rgb(203, 210, 215);
		margin-left: 30px;
		margin-right: 30px;
	}
}

@media only screen and (max-width: 864px) {
	#status-menu li {
		padding-top: 10px;
	}

	#menu-dropped {
		padding-bottom: 10px;
	}
}

@media only screen and (max-width: 1139px) {
	.rating-large {
		display: flex;
		flex-wrap: wrap-reverse;
		flex-direction: row-reverse;
	}
}