{% extends "base.html" %}

{% block content %}

<h2>Add drama</h2>


<div class="row">
    <div class="col s10 offset-m1">
        <div class="card-panel">
            <div class="row">
                <form class="col s12" method="POST" action="{{ url_for('add_drama')}}">
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="title" name="title" type="text" class="validate" required>
                            <label for="title">Title</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="img_url" name="img_url" type="text" class="validate">
                            <label for="img_url">Image Link</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="year" name="year" type="text" class="validate" required>
                            <label for="year">Year</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <p class="range-field">
                                <label for="number_of_episodes">Number of Episodes</label>
                                <input type="range" id="number_of_episodes" name="number_of_episodes" min="1"
                                    value="0" max="172" required/>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <select id="status" name="status" class="validate" required>
                                <option value="" disabled selected>Select an option</option>
                                {% for status in status %}
                                    <option value="{{ status.current_status }}">{{ status.current_status }}</option>
                                {% endfor %}
                            </select>
                            <label for="status">Status</label>
                        </div>
                        
                        <div class="input-field col s12 m6" id="number-of-eps">
                            <p class="range-field">
                                <label for="episodes_watched">Episodes watched</label>
                                <input type="range" id="episodes_watched" name="episodes_watched" min="0" max="172" value="0"/>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="star-container col s12 m6">
                            <div class="rating-wrap">
                                <label>Rating</label>
                                <div class="star-cont">
                                    <div>
                                        <fieldset class="rating">
                                            {% for i in range(1,11)|reverse %}
                                            <input type="radio" id="star{{i}}" name="rating" value="{{i}}" class="star"/><label
                                                for="star{{i}}"></label>
                                            {% endfor %}
                                        </fieldset>
                                    </div>
                                    <i class="fa-solid fa-broom"></i>
                                </div>
                                <h4 id="rating-value"></h4>
                            </div>
                        </div>
                        <div class="input-field col s12 m6">
                            <textarea id="notes" name="notes" class="materialize-textarea"></textarea>
                            <label for="notes">Notes</label>
                        </div>
                    </div>

                    <div class="row center-align">
                        <a href="{{ url_for('add_drama') }}" class="waves-effect waves-light btn purple darken-4">Clear</a>
                        <button class="btn waves-effect waves-light purple darken-4" type="submit" name="action">Submit
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}