<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" 
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>K Watch</title>
</head>
<body>

    <header>
        <nav>
            <!-- Top navbar -->
            <div class="nav-wrapper purple darken-4">
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/kwatch.png') }}" class="logo"></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fa-solid fa-bars"></i>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    {% if session.user %}
                        <li><a href="{{ url_for('get_shows', username=session['user']) }}">My Lists</a></li>
                        <li><a href="{{ url_for('add_drama') }}">Add Drama</a></li>
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('sign_out') }}">Sign Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('sign_in') }}">Sign In</a></li>  
                        <li><a href="{{ url_for('register') }}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- Mobile navbar -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if session.user %}
                <li><a href="{{ url_for('get_shows', username=session['user']) }}">My Lists</a></li>
                <li><a href="{{ url_for('add_drama') }}">Add Drama</a></li>
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="{{ url_for('sign_out') }}">Sign Out</a></li>
            {% else %}
                <li><a href="{{ url_for('sign_in') }}">Sign In</a></li>
                <li><a href="{{ url_for('register') }}">Sign Up</a></li>
            {% endif %}
        </ul>
    </header>

    <section class="flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h4>{{ message }}</h4>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    {% block content %}
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>