<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" 
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>K Watch</title>
</head>
<body>

    <header>
        <nav>
            <!-- Top navbar -->
            <div class="nav-wrapper purple darken-4">
                <a href="{{ url_for('index') }}" aria-label="Go to home page">
                    <img src="{{ url_for('static', filename='images/kwatch.png') }}" class="logo">
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fa-solid fa-bars"></i>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('index') }}" aria-label="Go to home page">Home</a></li>
                    {% if session.user %}
                        <li><a href="{{ url_for('get_shows', username=session['user']) }}" aria-label="Go to my lists page">My Lists</a></li>
                        <li><a href="{{ url_for('add_drama') }}" aria-label="Go to add drama page">Add Drama</a></li>
                        <li><a href="{{ url_for('profile', username=session['user']) }}" aria-label="Go to myprofile page">Profile</a></li>
                        <li><a href="{{ url_for('sign_out') }}" aria-label="Sign out">Sign Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('sign_in') }}" aria-label="Sign in">Sign In</a></li>  
                        <li><a href="{{ url_for('register') }}" aria-label="Sign up">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- Mobile navbar -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('index') }}" aria-label="Go to home page">Home</a></li>
            {% if session.user %}
                <li><a href="{{ url_for('get_shows', username=session['user']) }}" aria-label="Go to my lists page">My Lists</a></li>
                <li><a href="{{ url_for('add_drama') }}" aria-label="Go to add drama page">Add Drama</a></li>
                <li><a href="{{ url_for('profile', username=session['user']) }}" aria-label="Go to my profile page">Profile</a></li>
                <li><a href="{{ url_for('sign_out') }}" aria-label="Sign out">Sign Out</a></li>
            {% else %}
                <li><a href="{{ url_for('sign_in') }}" aria-label="Sign in">Sign In</a></li>
                <li><a href="{{ url_for('register') }}" aria-label="Sign up">Sign Up</a></li>
            {% endif %}
        </ul>
    </header>
<main>
    <section class="flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h4>{{ message }}</h4>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    {% block content %}
    {% endblock %}
</main>
    <footer class="purple darken-4 page-footer">
            <div class="container footer-copyright purple darken-4">
                © 2024 Copyright K-Watch
                <a class="grey-text text-lighten-4 right" href="https://www.facebook.com/" target="_blank"
                    aria-label="Go to our Facebook page">
                    <i class="fa-brands fa-facebook footer-icon"></i>
                </a>
                <a class="grey-text text-lighten-4 right" href="https://www.instagram.com/" target="_blank"
                    aria-label="Go to our Instagram page">
                    <i class="fa-brands fa-instagram footer-icon"></i>
                </a>
                <a class="grey-text text-lighten-4 right" href="https://www.tiktok.com/" target="_blank"
                    aria-label="Go to our Tiktok page">
                    <i class="fa-brands fa-tiktok footer-icon"></i>
                </a>
            </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>