{% extends "base.html" %}

{% block content %}

<h2>Edit drama</h2>


<div class="row">
    <div class="col s10 offset-m1">
        <div class="card-panel">
            <div class="row">
                <form class="col s12" method="POST" action="{{ url_for('edit_drama', show_id=show._id) }}">
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="title" name="title" type="text" value="{{ show.title }}" class="validate" required>
                            <label for="title">Title</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="img_url" name="img_url" type="text" value="{{ show.image }}" class="validate">
                            <label for="img_url">Image Link</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="year" name="year" type="text" value="{{ show.year }}" class="validate" required>
                            <label for="year">Year</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <p class="range-field">
                                <label for="number_of_episodes">Number of Episodes</label>
                                <input type="range" id="number_of_episodes" name="number_of_episodes" min="1"
                                    value="{{ show.number_of_episodes }}" max="172" required/>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <select id="status" name="status" class="validate" required>
                                <option value="" disabled>Select an option</option>
                                {% for status in status %}
                                    {% if status.current_status == show.status %}
                                        <option value="{{ status.current_status }}" selected>{{ status.current_status }}</option>
                                    {% else %}
                                        <option value="{{ status.current_status }}">{{ status.current_status }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label for="status">Status</label>
                        </div>
                        
                        <div class="input-field col s12 m6" id="number-of-eps">
                            <p class="range-field">
                                <label for="episodes_watched">Episodes watched</label>
                                <input type="range" id="episodes_watched" name="episodes_watched" min="0" max="172" 
                                    value="{{ show.episodes_watched }}"/>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="star-container col s12 m6">
                            <div class="rating-wrap">
                                <label>Rating</label>
                                <div class="star-cont">
                                    <div>
                                        <fieldset class="rating">
                                            <input type="radio" id="star10" name="rating" value="10" class="star"/><label
                                                for="star10"></label>
                                            <input type="radio" id="star9" name="rating" value="9" class="star"/><label
                                                for="star9"></label>
                                            <input type="radio" id="star8" name="rating" value="8" class="star"/><label
                                                for="star8"></label>
                                            <input type="radio" id="star7" name="rating" value="7" class="star"/><label
                                                for="star7"></label>
                                            <input type="radio" id="star6" name="rating" value="6" class="star"/><label
                                                for="star6"></label>
                                            <input type="radio" id="star5" name="rating" value="5" class="star"/><label
                                                for="star5"></label>
                                            <input type="radio" id="star4" name="rating" value="4" class="star"/><label
                                                for="star4"></label>
                                            <input type="radio" id="star3" name="rating" value="3" class="star"/><label
                                                for="star3"></label>
                                            <input type="radio" id="star2" name="rating" value="2" class="star"/><label
                                                for="star2"></label>
                                            <input type="radio" id="star1" name="rating" value="1" class="star"/><label
                                                for="star1"></label>
                                        </fieldset>
                                    </div>
                                    <i class="fa-solid fa-broom"></i>
                                </div>
                                <h4 id="rating-value"></h4>
                            </div>
                        </div>
                        <div class="input-field col s12 m6">
                            <textarea id="notes" class="materialize-textarea" name="notes">{{ show.notes }}</textarea>
                            <label for="notes">Notes</label>
                        </div>
                    </div>

                    <div class="row center-align">
                        <a href="{{ url_for('get_shows') }}" class="waves-effect waves-light btn">Cancel</a>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Edit Drama
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}