{% extends "base.html" %}

{% block content %}

<div class="row">
<h5>Coming soon</h5>
</div>

<div class="row">
    <h5>Most popular</h5>
    {% for show in shows[:10] %}
    {% if (show.rating >= 7) %}
    <div class="col spacing">
        <img src="{{ show.image }}" class="images">
            <p>{{ show.title }} <span><i class="fa-solid fa-plus"></i></span></p>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="row">
    <h5>People are watching right now</h5>
    {% for show in shows %}
    {% if (show.status == "Currently watching") %}
    <div class="col spacing">
        <img src="{{ show.image }}" class="images">
            <p>{{ show.title }} <span><i class="fa-solid fa-plus"></i></span></p>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}