{% extends "base.html" %}

{% block content %}

<div class="profile-header">
    <h3>{{ username }}'s profile</h3>
    <span>
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">
            <i class="fa-solid fa-gear"></i> Settings
        </a>
    </span>
</div>

<!-- Edit profile modal -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('profile', username=username) }}">
            <div class="row">
                <!-- username  -->
                <div class="input-field col s6">
                    <i class="fa-regular fa-user prefix"></i>
                    <input id="username" name="username" type="text" value="{{ username }}" minlength="5" maxlength="15" class="validate"
                        required>
                    <label for="username">Username</label>
                </div>
                <!-- email  -->
                <div class="input-field col s6">
                    <i class="fa-solid fa-at prefix"></i>
                    <input id="email" name="email" type="email" value="{{ email }}" class="validate" required>
                    <label for="email">Email</label>
                </div>
                <!-- change password  -->
                <div class="row center-align">
                    Change Password:
                </div>
                <!-- new password  -->
                <div class="input-field col s6">
                    <i class="fa-solid fa-lock prefix"></i>
                    <input id="password" name="password" type="password" class="validate" required>
                    <label for="password">New Password</label>
                </div>
                <!-- confirm password  -->
                <div class="input-field col s6">
                    <i class="fa-solid fa-lock prefix"></i>
                    <input id="confirm_password" name="confirm_password" type="password" class="validate" required>
                    <label for="confirm_password">Confirm New Password</label>
                </div>
            </div>
            <!-- cancel/edit buttons  -->
            <div class="row center-align">
                <a href="#!" class="modal-close btn waves-effect waves-light">Cancel</a>
                <button class="btn waves-effect waves-light form-btn" type="submit" name="action">
                    <i class="fa-solid fa-check-to-slot"></i> Edit Profile
                </button>
            </div>
        </form>
    </div>
</div>

<!-- currently watching  -->
<div class="row">
    <div class="col s10 offset-m1">
        <h6>Currently Watching</h6>
        <div class="currently-watching">
            {% for show in shows %}
            {% if (show.status == "Currently watching") and (session.user|lower == show.created_by|lower) %}
            <div><img src="{{ show.image }}" class="images">
                <p class="title-align">{{ show.title }}</p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m5 offset-m1">
        <div class="card-panel">
            <!-- recently completed  -->
            <h6>Recently Completed</h6>
            <div class="carousel">
                {% for show in shows[:10] %}
                {% if (show.status == "Completed") and (session.user|lower == show.created_by|lower) %}
                <a class="carousel-item" href="#one!"><img src="{{ show.image }}">{{ show.title }}</a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col s12 m5 offset-m-1">
        <div class="card-panel">
            <!-- highly rated  -->
            <h6>Highly Rated</h6>
            <div class="carousel">
                {% for show in shows[:10] %}
                {% if (show.rating >= 7) and (session.user|lower == show.created_by|lower) %}
                <a class="carousel-item" href="#one!"><img src="{{ show.image }}">{{ show.title }}</a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}