{% extends "base.html" %}

{% block content %}

<div class="profile-header">
    <h3 class="profile">{{ username }}'s profile</h3>
    <span class="button-span">
        <a class="waves-effect waves-light btn modal-trigger purple darken-4" href="#modal1" aria-label="Settings">
            <i class="fa-solid fa-gear"></i> Settings
        </a>
    </span>
</div>

<!-- Edit profile modal -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('profile', username=username) }}">
            <div class="row">
                <!-- username  -->
                <div class="input-field col s12 m6">
                    <i class="fa-regular fa-user prefix"></i>
                    <input id="username" name="username" type="text" value="{{ username }}" minlength="5" maxlength="15"
                        class="validate" required>
                    <label for="username">Username</label>
                </div>
                <!-- email  -->
                <div class="input-field col s12 m6">
                    <i class="fa-solid fa-at prefix"></i>
                    <input id="email" name="email" type="email" value="{{ email }}" class="validate" required>
                    <label for="email">Email</label>
                </div>
                <!-- change password  -->
                <div class="row center-align">
                    Change Password:
                </div>
                <!-- new password  -->
                <div class="input-field col s12 m6">
                    <i class="fa-solid fa-lock prefix"></i>
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">New Password</label>
                </div>
                <!-- confirm password  -->
                <div class="input-field col s12 m6">
                    <i class="fa-solid fa-lock prefix"></i>
                    <input id="confirm_password" name="confirm_password" type="password" class="validate">
                    <label for="confirm_password">Confirm New Password</label>
                </div>
            </div>
            <!-- cancel/edit buttons  -->
            <div class="row button-container">
                <a href="#!" class="modal-close btn waves-effect waves-light purple darken-4 button-margin"
                    aria-label="Cancel">Cancel</a>
                <button class="btn waves-effect waves-light form-btn purple darken-4 button-margin" type="submit"
                    name="action" aria-label="Edit profile">
                    Edit Profile
                </button>
            </div>
        </form>
        <hr>
        <div class="delete-section">
            <strong>Delete my account</strong>
            <a class="btn waves-effect waves-light purple darken-4" id="delete-button" aria-label="Delete my account">
                Delete
            </a>
        </div>
        <div class="delete-section nodisplay row" id="delete-account">
            <div class="col">
                <strong>Are you sure you want to delete your account? This action cannot be undone</strong>
            </div>
            <div class="col">
                <a class="btn waves-effect waves-light modal-close purple darken-4 button-margin" aria-label="No">No</a>
                <a href="{{ url_for('delete_user')}}"
                    class="btn waves-effect waves-light purple darken-4 button-margin" aria-label="Yes">Yes</a>
            </div>
        </div>
    </div>
</div>

<!-- currently watching  -->
<h4 class="row-margin">Currently Watching</h4>
<div class="row row-margin scroll-div">
    {% for show in shows %}
    {% if (show.status == "Currently watching") and (session.user|lower == show.created_by|lower) %}
    <div class="currently-watching col img-spacing">
        {% if show.image %}
            <img src="{{ show.image }}" class="images" alt="Picture for {{ show.title }}">
        {% else %}
            <img src="{{ url_for('static', filename='images/no-img.png') }}" class="images" alt="Picture for {{ show.title }}">
        {% endif %}
        <p>{{ show.title }}</p>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="row">
    <div class="col s12 m5 offset-m1">
        <!-- recently completed  -->
        <h4>Recently Completed</h4>
        <div class="carousel">
            {% for show in shows[-10:] %}
            {% if (show.status == "Completed") and (session.user|lower == show.created_by|lower) %}
            <a class="carousel-item" href="#one!">
                {% if show.image %}
                <img src="{{ show.image }}" alt="Picture for {{ show.title }}">{{ show.title }}
                {% else %}
                <img src="{{ url_for('static', filename='images/no-img.png') }}"
                    alt="Picture for {{ show.title }}">{{ show.title }}
                {% endif %}
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="col s12 m5 offset-m-1">
        <!-- highly rated  -->
        <h4>Highly Rated</h4>
        <div class="carousel">
            {% for show in shows[-10:] %}
            {% if (show.rating != None) and (show.rating >= 7) and (session.user|lower == show.created_by|lower) %}
            <a class="carousel-item">
                {% if show.image %}
                <img src="{{ show.image }}" alt="Picture for {{ show.title }}">{{ show.title }}
                {% else %}
                <img src="{{ url_for('static', filename='images/no-img.png') }}"
                    alt="Picture for {{ show.title }}">{{ show.title }}
                {% endif %}
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<!-- Rate me  -->
<h4 class="row-margin">Don't forget to rate me</h4>
    <div class="row row-margin scroll-div">
    {% for show in shows %}
    {% if (show.rating == None) and (session.user|lower == show.created_by|lower) %}
    <div class="col img-spacing">
        {% if show.image %}
            <img src="{{ show.image }}" class="images" alt="Picture for {{ show.title }}">
        {% else %}
            <img src="{{ url_for('static', filename='images/no-img.png') }}" class="images" alt="Picture for {{ show.title }}">
        {% endif %}
        <p>{{ show.title }}
            <span>
                <a href="{{ url_for('edit_drama', show_id=show._id) }}" aria-label="Edit drama">
                    <i class="fa-regular fa-pen-to-square"></i></a>
            </span>
        </p>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}