{% extends "base.html" %}

{% block content %}

    <h1>My lists</h1>

    <div id="status-menu">
        <div>Plan to Watch</div>
        <div>Currently Watching</div>
        <div>Completed</div>
    </div>

    {% for show in shows %}
        <img src="{{ show.image }}">
        {{ show.title }}
        {{ show.year }}
        {{ show.number_of_episodes }}
        {{ show.episodes_watched }}
        {{ show.status }}
        {{ show.rating }}
        {{ show.notes }}
        
    {% endfor %}
{% endblock %}