{% extends "base.html" %}

{% block content %}

<!-- title and search bar  -->
<div class="row s12 drama-header">
    <div class="col s12 m6">
        <h3 class="header-margin">My lists</h3>
    </div>
    <div class="col s12 m6">
        <!-- search  -->
        <form action="{{ url_for('search') }}" method="post" class="search">
            <div class="row drama-header">
                <div class="input-field col s12 m7">
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search dramas</label>
                </div>
                <div class="col s12 m5">
                    <a href="{{ url_for('get_shows') }}"
                        class="waves-effect waves-light btn purple darken-4 button-margin">Reset</a>
                    <button type="submit"
                        class="modal-close waves-effect waves-light btn purple darken-4 button-margin">
                        <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <!-- mobile-dropdown button -->
    <a class='dropdown-trigger btn purple darken-3' data-target='dropdown1'>View drama categories</a>

    <!-- mobile dropdown -->
    <ul id='dropdown1' class='dropdown-content'>
        <li id="menu-all">All dramas</li>
        <li id="menu-plan-to-watch">Plan to Watch</li>
        <li id="menu-currently-watching">Currently Watching</li>
        <li id="menu-completed">Completed</li>
        <li id="menu-dropped">Dropped</li>
    </ul>
</div>

<!-- menu  -->
<div class="menu-container">
    <div id="status-menu-container">
        <ul id="status-menu">
            <li id="menu-all">All dramas</li>
            <li id="menu-plan-to-watch">Plan to Watch</li>
            <li id="menu-currently-watching">Currently Watching</li>
            <li id="menu-completed">Completed</li>
            <li id="menu-dropped">Dropped</li>
        </ul>
    </div>
</div>

{% if shows|length >0 %}

    <!-- All shows  -->
    <div id="all-shows">
        <table class="highlight centered show-table">
            <thead>
                <tr>
                    <!-- <th>Number</th> -->
                    <th></th>
                    <th>Title</th>
                    <th>Edit / Delete</th>
                    <th class="table-col">Year</th>
                    <th class="table-col">Episodes</th>
                    <th>Progress</th>
                    <th>Rating</th>
                </tr>
            </thead>
            {% for show in shows %}
                {% if session.user|lower == show.created_by|lower %}
                <tr>
                    <!-- <td>
                            {{ show._id }}>
                        </td> -->
                    <td class="thumb-box">
                        <div class="thumb-container">
                            {% if show.image %}
                                <img class="thumbnail modal-trigger" href="#modal{{ show.title }}" src="{{ show.image }}"
                                alt="Click for information about {{ show.title }}">
                            {% else %}
                                <img class="thumbnail modal-trigger" href="#modal{{ show.title }}" src="{{ url_for('static', filename='images/no-img.png') }}"
                                alt="Click for information about {{ show.title }}">
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        {{ show.title }}
                    </td>
                    <td>
                        <a href="{{ url_for('edit_drama', show_id=show._id) }}"><i
                                class="fa-regular fa-pen-to-square"></i>
                        </a> /
                        <a href="{{ url_for('delete_drama', show_id=show._id) }}">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                    <td class="table-col">
                        {{ show.year }}
                    </td>
                    <td class="table-col">
                        {{ show.number_of_episodes }}
                    </td>
                    <td>
                        {{ show.episodes_watched }}/{{ show.number_of_episodes }}
                    </td>
                    <td>
                        {{ show.rating }}
                    </td>
                </tr>
                {% endif %}

                <!-- modal for all drama information -->
                <div id="modal{{ show.title }}" class="modal">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col s4 table-col">
                                {% if show.image %}
                                <img class="thumbnail modal-trigger images"
                                    src="{{ show.image }}" alt="Click for information about {{ show.title }}">
                                {% else %}
                                <img class="thumbnail modal-trigger images" 
                                    src="{{ url_for('static', filename='images/no-img.png') }}"
                                    alt="Click for information about {{ show.title }}">
                                {% endif %}
                            </div>
                            <div class="col s8">
                                <h6>{{ show.title }}</h6>
                                <p><strong>Year:</strong> {{ show.year }}</p>
                                <p><strong>Number of episodes:</strong> {{ show.number_of_episodes }}</p>
                                <p><strong>Status:</strong> {{ show.status }}</p>
                                <p><strong>Episodes watched:</strong> {{ show.episodes_watched }}</p>
                                <p><strong>Rating:</strong> {{ show.rating }} / 10</p>
                                <p><strong>Notes:</strong> {{ show.notes }}</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-light btn purple darken-4">Close</a>
                        </div>
                    </div>
            {% endfor %}
        </table>
    </div>

    <!-- Plan to watch  -->
    <div id="plan-to-watch" class="nodisplay">
        <table class="highlight centered show-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Edit / Delete</th>
                    <th class="table-col">Year</th>
                    <th class="table-col">Episodes</th>
                    <th>Progress</th>
                    <th>Rating</th>
                </tr>
            </thead>
            {% for show in shows %}
                {% if (show.status == "Plan to watch") and (session.user|lower == show.created_by|lower) %}
                <tr>
                    <td class="thumb-box">
                        <div class="thumb-container">
                            {% if show.image %}
                                <img class="thumbnail modal-trigger" href="#modal2{{ show.title }}" src="{{ show.image }}"
                                alt="Click for information about {{ show.title }}">
                            {% else %}
                                <img class="thumbnail modal-trigger" href="#modal2{{ show.title }}" src="{{ url_for('static', filename='images/no-img.png') }}"
                                alt="Click for information about {{ show.title }}">
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        {{ show.title }}
                    </td>
                    <td>
                        <a href="{{ url_for('edit_drama', show_id=show._id) }}"><i
                                class="fa-regular fa-pen-to-square"></i></a> /
                        <a href="{{ url_for('delete_drama', show_id=show._id) }}">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                    <td class="table-col">
                        {{ show.year }}
                    </td>
                    <td class="table-col">
                        {{ show.number_of_episodes }}
                    </td>
                    <td>
                        {{ show.episodes_watched }}/{{ show.number_of_episodes }}
                    </td>
                    <td>
                        {{ show.rating }}
                    </td>
                </tr>
                {% endif %}

                <!-- modal for 'plan to watch' drama information -->
                <div id="modal2{{ show.title }}" class="modal">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col s4 table-col">
                                {% if show.image %}
                                <img class="thumbnail modal-trigger images" 
                                    src="{{ show.image }}" alt="Click for information about {{ show.title }}">
                                {% else %}
                                <img class="thumbnail modal-trigger images"
                                    src="{{ url_for('static', filename='images/no-img.png') }}"
                                    alt="Click for information about {{ show.title }}">
                                {% endif %}
                            </div>
                            <div class="col s8">
                                <h6>{{ show.title }}</h6>
                                <p><strong>Year:</strong> {{ show.year }}</p>
                                <p><strong>Number of episodes:</strong> {{ show.number_of_episodes }}</p>
                                <p><strong>Status:</strong> {{ show.status }}</p>
                                <p><strong>Episodes watched:</strong> {{ show.episodes_watched }}</p>
                                <p><strong>Rating:</strong> {{ show.rating }} / 10</p>
                                <p><strong>Notes:</strong> {{ show.notes }}</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-light btn purple darken-4">Close</a>
                        </div>
                    </div>
            {% endfor %}
        </table>
    </div>

    <!-- Currently watching  -->
    <div id="currently-watching" class="nodisplay">
        <table class="highlight centered show-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Edit / Delete</th>
                    <th class="table-col">Year</th>
                    <th class="table-col">Episodes</th>
                    <th>Progress</th>
                    <th>Rating</th>
                </tr>
            </thead>
            {% for show in shows %}
                {% if (show.status == "Currently watching") and (session.user|lower == show.created_by|lower) %}
                <tr>
                    <td class="thumb-box">
                        <div class="thumb-container">
                            {% if show.image %}
                                <img class="thumbnail modal-trigger" href="#modal3{{ show.title }}" src="{{ show.image }}"
                                alt="Click for information about {{ show.title }}">
                            {% else %}
                                <img class="thumbnail modal-trigger" href="#modal3{{ show.title }}" src="{{ url_for('static', filename='images/no-img.png') }}"
                                alt="Click for information about {{ show.title }}">
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        {{ show.title }}
                    </td>
                    <td>
                        <a href="{{ url_for('edit_drama', show_id=show._id) }}"><i
                                class="fa-regular fa-pen-to-square"></i></a> /
                        <a href="{{ url_for('delete_drama', show_id=show._id) }}">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                        </td>
                    <td class="table-col">
                        {{ show.year }}
                    </td>
                    <td class="table-col">
                        {{ show.number_of_episodes }}
                    </td>
                    <td>
                        {{ show.episodes_watched }}/{{ show.number_of_episodes }}
                    </td>
                    <td>
                        {{ show.rating }}
                    </td>
                </tr>
                {% endif %}

                <!-- modal for 'currently watching' drama information -->
                <div id="modal3{{ show.title }}" class="modal">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col s4 table-col">
                                {% if show.image %}
                                <img class="thumbnail modal-trigger images" 
                                    src="{{ show.image }}" alt="Click for information about {{ show.title }}">
                                {% else %}
                                <img class="thumbnail modal-trigger images" 
                                    src="{{ url_for('static', filename='images/no-img.png') }}"
                                    alt="Click for information about {{ show.title }}">
                                {% endif %}
                            </div>
                            <div class="col s8">
                                <h6>{{ show.title }}</h6>
                                <p><strong>Year:</strong> {{ show.year }}</p>
                                <p><strong>Number of episodes:</strong> {{ show.number_of_episodes }}</p>
                                <p><strong>Status:</strong> {{ show.status }}</p>
                                <p><strong>Episodes watched:</strong> {{ show.episodes_watched }}</p>
                                <p><strong>Rating:</strong> {{ show.rating }} / 10</p>
                                <p><strong>Notes:</strong> {{ show.notes }}</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-light btn purple darken-4">Close</a>
                        </div>
                    </div>
            {% endfor %}
        </table>
    </div>

    <!-- Completed  -->
    <div id="completed" class="nodisplay">
        <table class="highlight centered show-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Edit / Delete</th>
                    <th class="table-col">Year</th>
                    <th class="table-col">Episodes</th>
                    <th>Progress</th>
                    <th>Rating</th>
                </tr>
            </thead>
            {% for show in shows %}
                {% if (show.status == "Completed") and (session.user|lower == show.created_by|lower) %}
                <tr>
                    <td class="thumb-box">
                        <div class="thumb-container">
                            {% if show.image %}
                                <img class="thumbnail modal-trigger" href="#modal4{{ show.title }}" src="{{ show.image }}"
                                alt="Click for information about {{ show.title }}">
                            {% else %}
                                <img class="thumbnail modal-trigger" href="#modal4{{ show.title }}" src="{{ url_for('static', filename='images/no-img.png') }}"
                                alt="Click for information about {{ show.title }}">
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        {{ show.title }}
                    </td>
                    <td>
                        <a href="{{ url_for('edit_drama', show_id=show._id) }}"><i
                                class="fa-regular fa-pen-to-square"></i></a> /
                        <a href="{{ url_for('delete_drama', show_id=show._id) }}">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                    <td class="table-col">
                        {{ show.year }}
                    </td>
                    <td class="table-col">
                        {{ show.number_of_episodes }}
                    </td>
                    <td>
                        {{ show.episodes_watched }}/{{ show.number_of_episodes }}
                    </td>
                    <td>
                        {{ show.rating }}
                    </td>
                </tr>
                {% endif %}

                <!-- modal for 'completed' drama information -->
                <div id="modal4{{ show.title }}" class="modal">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col s4 table-col">
                                {% if show.image %}
                                <img class="thumbnail modal-trigger images" 
                                    src="{{ show.image }}" alt="Click for information about {{ show.title }}">
                                {% else %}
                                <img class="thumbnail modal-trigger images" 
                                    src="{{ url_for('static', filename='images/no-img.png') }}"
                                    alt="Click for information about {{ show.title }}">
                                {% endif %}
                            </div>
                            <div class="col s8">
                                <h6>{{ show.title }}</h6>
                                <p><strong>Year:</strong> {{ show.year }}</p>
                                <p><strong>Number of episodes:</strong> {{ show.number_of_episodes }}</p>
                                <p><strong>Status:</strong> {{ show.status }}</p>
                                <p><strong>Episodes watched:</strong> {{ show.episodes_watched }}</p>
                                <p><strong>Rating:</strong> {{ show.rating }} / 10</p>
                                <p><strong>Notes:</strong> {{ show.notes }}</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-light btn purple darken-4">Close</a>
                        </div>
                    </div>
            {% endfor %}
        </table>
    </div>

    <!-- Dropped  -->
    <div id="dropped" class="nodisplay">
        <table class="highlight centered show-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Edit / Delete</th>
                    <th class="table-col">Year</th>
                    <th class="table-col">Episodes</th>
                    <th>Progress</th>
                    <th>Rating</th>
                </tr>
            </thead>

            {% for show in shows %}
                {% if (show.status == "Dropped") and (session.user|lower == show.created_by|lower) %}
                <tr>
                    <td class="thumb-box">
                        <div class="thumb-container">
                            {% if show.image %}
                                <img class="thumbnail modal-trigger" href="#modal5{{ show.title }}" src="{{ show.image }}"
                                alt="Click for information about {{ show.title }}">
                            {% else %}
                                <img class="thumbnail modal-trigger" href="#modal5{{ show.title }}" src="{{ url_for('static', filename='images/no-img.png') }}"
                                alt="Click for information about {{ show.title }}">
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        {{ show.title }}
                    </td>
                    <td>
                        <a href="{{ url_for('edit_drama', show_id=show._id) }}"><i
                                class="fa-regular fa-pen-to-square"></i></a> /
                        <a href="{{ url_for('delete_drama', show_id=show._id) }}">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                    <td class="table-col">
                        {{ show.year }}
                    </td>
                    <td class="table-col">
                        {{ show.number_of_episodes }}
                    </td>
                    <td>
                        {{ show.episodes_watched }}/{{ show.number_of_episodes }}
                    </td>
                    <td>
                        {{ show.rating }}
                    </td>
                </tr>
                {% endif %}

                <!-- modal for 'dropped' drama information -->
                <div id="modal5{{ show.title }}" class="modal">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col s4 table-col">
                                {% if show.image %}
                                <img class="thumbnail modal-trigger images" 
                                    src="{{ show.image }}" alt="Click for information about {{ show.title }}">
                                {% else %}
                                <img class="thumbnail modal-trigger images" 
                                    src="{{ url_for('static', filename='images/no-img.png') }}"
                                    alt="Click for information about {{ show.title }}">
                                {% endif %}
                            </div>
                            <div class="col s8">
                                <h6>{{ show.title }}</h6>
                                <p><strong>Year:</strong> {{ show.year }}</p>
                                <p><strong>Number of episodes:</strong> {{ show.number_of_episodes }}</p>
                                <p><strong>Status:</strong> {{ show.status }}</p>
                                <p><strong>Episodes watched:</strong> {{ show.episodes_watched }}</p>
                                <p><strong>Rating:</strong> {{ show.rating }} / 10</p>
                                <p><strong>Notes:</strong> {{ show.notes }}</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-light btn purple darken-4">Close</a>
                        </div>
                    </div>
            {% endfor %}
        </table>
    </div>

{% else %}
    <h3>No shows found</h3>
{% endif %}

{% endblock %}