{% extends "base.html" %}

{% block content %}

    <h1>My lists</h1>

    <div id="status-menu">
        <div>Plan to Watch</div>
        <div>Currently Watching</div>
        <div>Completed</div>
    </div>

    <table class="centered highlight responsive-table">
        <thead>
            <tr>
                <th>Number</th>
                <th></th>
                <th>Title</th>
                <th>Year</th>
                <th>Episodes</th>
                <th>Progress</th>
                <th>Rating</th>
            </tr>
        </thead>
        {% for show in shows %}
        <tr>
            <td>
                {{ show._id }}>
            </td>
            <td>
                <img src="{{ show.image }}">
            </td>
            <td>
                {{ show.title }}
            </td>
            <td>
                {{ show.year }}
            </td>
            <td>
                {{ show.number_of_episodes }}
            </td>
            <td>
                {{ show.episodes_watched }}/{{ show.number_of_episodes }}
            </td>
            <td>
                {{ show.rating }}
            </td>

        </tr>
        {% endfor %}
    </table>

{% endblock %}