{% extends "base.html" %}

{% block content %}

<div class="row form-margin">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('sign_in') }}" >
        <div class="card-panel">
            <h3>Sign In</h3>  
            <div class="row">
                <!-- email  -->
                <div class="input-field col s12 m6">
                    <i class="fa-solid fa-at prefix"></i>
                    <input id="email" name="email" type="email" class="validate" 
                        required>
                    <label for="email">Email</label>
                </div>
                <!-- password  -->
                <div class="input-field col s12 m6">
                    <i class="fa-solid fa-lock prefix"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15" 
                        class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            
            <div class="row center-align">
                <div class="col s12">
                <button class="waves-effect waves-light btn purple darken-4 form-btn" type="submit" name="action"
                    aria-label="Sign in">Sign In
                </button>
            </div>
            </div>
        </div>
    </form>
</div>

<div class="sign-in-footer">
    <p>Don't have an account yet?</p>
    <p><a href="{{ url_for('register') }}" aria-label="Sign up">Sign Up</a></p>
</div>

{% endblock %}